:root{
  --fundo-principal: #000000;      
  --fundo-secundario: #1D2D44;    
  --fundo-variante: #313452;      
  --titulo: #F7F7F7;               
  --texto-principal: #C0C0C0;     
  --texto-secundario: #4F537A;   
  --destaque: #E03C31;       
}