@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



:root {
    --bg-color: #f9edfd;
    --primary-color: #d7abe6;
    --secondary-color: 	#c38ed5;
    --dark-color: #9878b7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
}

#titulo{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4rem;
  color: var(--primary-color);
}
nav a{
    text-decoration: none;
}
